body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Intro */

.intro {
    display: block;
    flex-direction: column;
    justify-content: center;
    top: 83px;
    margin-bottom: 83px;
    width: 100%;
    /* height: 100vh; */
    min-height: 600px;
    position: relative;

    background-color: #1d1d1f;
    /* background: url("../images/bg/bg.jpg") center no-repeat; */
    -webkit-background-size: cover;
    background-size: cover;

}
/*
.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  z-index: 3;
} */

.intro__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.intro__item {
  width: 50%;
}

.intro__title {
    margin-top: 30%;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.intro__subtitle {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.intro__logo {
  margin-top: 50px;
height: 500px;
}
/* Container  */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* Header */
.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
  padding: 10px 0;
  background-color: #fafafa;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translate3d(0,0,0);
}

.header.active {
  background-color: #fafafa;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fafafa;
    padding-bottom: 5px;
}

.header__logo {
    font-size: 20px;
    font-weight: 300;
    color: #1d1d1f;
    cursor: pointer;
}

.header__logo-img {
  display: block;
  width: auto;
  height: 70px;
}

/* Nav */
.nav {
    font-size: 14px;
}

.nav.active {
  display: block;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #1d1d1f;
    text-decoration: none;
    text-align: center;

    transition: color .1s linear;
}

.nav__link-img {
  height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    background-color: #4275e8;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #4275e8;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #1d1d1f;
}

/* Nav toggle */
.nav-toggle {
  display: none;
  width: 30px;
  padding: 10px 0;
  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1d1d1f;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: backgraund .2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item::before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0,-2px,0);
}

.nav-toggle.active .nav-toggle__item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px,3px,0);
}

.nav-toggle__item::before {
  top: -8px;
}

.nav-toggle__item::after {
  bottom: -8px;
}
.nav-toggle__item::before, .nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #1d1d1f;
  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform .2s linear;
}


/* Button */
.btn {
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    background-color: #3f70de;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #4275e8;
    color: #fff;
}


/* Section */

.section {
  padding: 40px 0;
}

.section--grey {
  background-color: #fafafa;
}

.section__header {
  margin: 0 auto 50px;
  width: 100%;
  max-width: 950px;
  text-align: center;
}

.section__title {
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-size: 50px;
  font-weight: 700;
  color: #1d1d1f;
}

/* About */
.about__contact {
  display: flex;
  justify-content: flex-end;
}

.about__social {
  width: 55px;
  height: 55px;
  padding: 12px 11px;
  margin-left: 5px;
  background-color: #fff;
  border: 1px solid #63666b;
  border-radius: 5px;
  text-decoration: none;
  font-size: 30px;
  color: #63666b;
  line-height: 1;

  transition: background-color .2s linear, color .2s linear;
}
.about__social:first-child {
  padding: 12px 17px;
}

.about__social:hover {
  background-color: #63666b;
  color: #fff;
}

/* Phones */

.phones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.phones__item {
  width: 23%;
}
.phones__item:last-child {
  margin-left: 0;
}

.phones__item__content {
  display: block;
  height: 400px;
}

.phones__img {
  width: 100%;
}
.phones__img img{
  width: 100%;
}

.phones__title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0 0;
}

.phones__price {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
}
.phones__cam {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px;
}
.phones__battery {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px;
}
.phones__screen {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px;
}

/* Watch */

.watch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.watch__item {
  width: 50%;
  text-align: center;
}

.watch__content {
  display: block;
  position: relative;
  top: 30%;
  width: 100%;
  height: 400px;
  line-height: 1;
}

.watch__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}
.watch__subtitle {
  font-size: 20px;
  color:brown;
  margin-bottom: 15px;
}
.watch__text {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Arial', sans-serif;
  padding: 15px 50px;
  margin-bottom: 20px;
}


.watch__img {
  width: 100%;
}

/* Case */

.case {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.case__item {
  width: 33%;
  background-color: #fff;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 50px;
}
.case__item:last-child {
  margin-left: 0;
}

.case__img {
  padding-top: 50px;
  max-height: 300px;
}

.case__subtitle {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 12px;
  color: brown;
}

.case__title {
  font-size: 16px;
  color:#3f70de;
  padding-bottom: 50px;
  text-decoration: none;
}
.case__title:hover {
  text-decoration: underline;
  color: #4275e8;
}

.case__footer{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.case__link {
  color: #3f70de;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}

.case__link:hover {
  text-decoration: underline;
  color: #4275e8;
}


/* Watch */

.ears {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ears__item:first-child {
  width: 33%;
  text-align: center;
  padding: 0 10px;
}
.ears__item {
  width: 66%;
  text-align: center;
}

.ears__content {
  display: block;
  position: relative;
  top: 30%;
  width: 100%;
  height: 400px;
  line-height: 1;
}

.ears__title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
}

.ears__subtitle {
  font-size: 20px;

  margin-bottom: 25px;
}

.ears__link {
  color: #3f70de;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}

.ears__link:hover {
  text-decoration: underline;
  color: #4275e8;
}

.ears__img {
  width: 100%;
}


/* Footer */
.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer__item1 {
  width: 70%;
}

.footer__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 18px;
  font-weight: 400;
}

.footer__subtext {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color:  #63666b;
}

.footer__item2 {
  width: 30%;
  padding-left: 10px;
}

.footer__contact {
  font-size: 20px;
  font-weight: 700;
  color: #1d1d1f;
  margin-bottom: 5px;
}

.footer__from {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color:  #63666b;
}

.footer__bg {
  width: 100%;
}

@media (max-width: 1230px) {

/* Intro  */
.intro__content {
  padding-left: 15px;
}
  .intro__subtitle {
    font-size: 35px;
  }

  .intro__title {
    font-size: 55px;
  }

  /* About */
    .about__contact {
    padding-right: 15px;
    }

/* Smart */

.phones__item {
  padding: 0 10px;
}
/* Footer */
.footer {
  padding:0 10px;
}

}

@media (max-width: 1100px) {
  .phones__item__content {
    height: 470px;
  }

}

@media (max-width: 990px) {

/* Intro  */
  .intro__subtitle {
    font-size: 25px;
  }

  .intro__title {
    margin-top: 40%;
    font-size: 40px;
  }

  .section__title {
    font-size: 40px;
  }

  /* Nav */
.nav__link {
  margin: 0 5px;
}
  .nav__link-img {
    height: 30px;
  }

/* Smart */
  .phones__item {
    width: 50%;
    padding: 10px;
  }

  .phones__item__content {
    height: 350px;
  }

}


@media (max-width: 770px) {
/* Intro */

  .intro {
    min-height: 400px;
  }

.intro__item {
  width: 100%;
}

.intro__title {
  margin-top: 20px;
  text-align: center;
}
.intro__subtitle {
  text-align: center;
}

.intro__logo {
  height: 300px;
}
  /* Header */

  .header {
    /* padding: 10px 0; */
  }

/* Nav */
  .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fafafa;
    text-align: center;
  }

  .nav__link {
    display: block;
    margin: 0;
    padding: 8px 10px;
  }

  .nav-toggle {
    display: block;
  }
  .nav__link-img {
    height: 30px;
  }
/* Section */
  .section {
    padding: 40px 0;
  }

.section__title {
  font-size: 30px;
}
  /* About */
  .about__item {
    width: 100%;
  }

  .about__contact {
    justify-content: center;
  }

/* Smart */

.phones__item__content {
  height: 350px;
}

/* Watch */
.watch__item {
  width: 100%;
}

.watch__content {
  top: 0;
  height: 300px;
}

/* Case */
.case__item {
  width: 100%;
}

.case__link {
  font-size: 18px;
}

/* Ears */
.ears__item {
  width: 100%;
}
.ears__item:first-child {
  width: 100%;
}
.ears__content {
  top: 0;
  height: 200px;
}

/* Footer */

.footer {
  text-align: center;
}
.footer__item1 {
  width: 100%;
  margin-bottom: 20px;
}

.footer__item2 {
  width: 100%;
}

}

@media (max-width: 575px) {

/* Intro  */

.intro {
  min-height: 400px;
}

  .intro__subtitle {
    font-size: 22px;
  }

  .intro__title {
    font-size: 40px;
  }

/* Section */
    .section__header{
      margin-bottom: 50px;
    }

    .section__title {
      font-size: 24px;
    }

    .section__title::after {
      margin: 20px auto;
    }

    .section__subtitle {
      font-size: 20px;
    }

    /* Smart */
    .phones__item {
      width: 100%;
    }
    .phones__item__content {
      height: 280px;
    }


}

@media (max-width: 450px) {

  /* Intro  */

    .intro__title {
      font-size: 35px;
    }


      /* Smart */

      .phones__item__content {
        height: 340px;
      }

      /* Watch */
      .watch__content {
        top: 0;

      }

}
